<% provide(:title, "All the kittehs") %>

<ul>
  <h3>All teh kittehs</h3>
  <br><%= link_to "Make a new fluff monster", new_kitten_path %><br><br>

  <%= will_paginate %>

  <% @kittens.each do |kitten| %>
    <ul>
      <%= link_to "Lookie at #{kitten.name}!", kitten, method: :get %>
      <%= link_to "(delete this snuggler)", kitten, method: :delete,
          data: { confirm: "Sure you want to delete this precious baby?" } %>
    </ul><br>
  <% end %>

  <%= will_paginate %>
</ul>
